*{
    font-family: Source Sans Pro;
    color:rgb(83, 83, 83);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

span{
    color: rgb(115, 115, 194);
}


/******MENU********/

.topo{

    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.topo-item{
    font-size: 24px;
    font-weight: 600;
}

.menu{
    display: flex;
    gap: 32px;
}

.menu-item{
    font-size: 20px;
}

/*********INICIO**********/

.secao-inicio{
    background-image: url(assets/img-fundo.jpg);
    background-size: cover;
    width: 100%;
    height: 700px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao-inicio-item{
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(73, 153, 124, 0.6);
    width: 37%;
    padding: 30px 0;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.secao-inicio-item-texto{
    padding: 15px;
    flex-grow: 1;
}

.secao-inicio-item h1{

    margin-bottom: 24px;
    font-size: 58px;
    color: white;
    
}

.secao-inicio p{
    font-size: 32px;
    color: white;
}

/******BEM VINDO********/

.secao-bemvindo{

    text-align: center;
    margin-bottom: 40px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.titulo{
    margin-top: 72px;
    text-align: center;
}

.titulo h2{
    font-size: 38px;
    font-weight: 400;
    line-height: 70px;

}

.titulo p{
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
}

/******QUARTOS*****/

.secao-quartos-inicio{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

.block{
    width: calc((100%/3) - 30px); 
    margin: 15px;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.block-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-desc{
    padding: 15px;
    border-bottom: 3px solid rgb(73, 153, 124);
    text-transform: uppercase;
}

.block-desc a{
    font-weight: 600;
    font-size: 18px;
}

/*******ROTA********/

.mapa{
    margin-top: 52px;
}

/*******SOBRE*********/

.secao-sobre-itens{
    max-width: 1024px;
    width: 100%;
    margin: 50px auto 15px auto;

    display: flex;
    flex-wrap: wrap;
}

.secao-sobre-block{
    width: calc((100%/2) - 20px);
    height: calc((100%/2) - 20px);
    margin: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}

.secao-sobre-block-img{
    width: 30%;    
    display: flex;
    flex-grow: 1;
}

.secao-sobre-block img{
    width: 130px;
    height: 150px;
    object-fit: cover;
}

.secao-sobre-block-desc{
    width: 70%;
    text-align: left;
    padding: 15px;
    align-items: center;
}

/*****RODAPÉ*****/

footer{
    background-color: rgb(73, 153, 124);
    padding: 20px;
    margin-top: 58px;
}

.secao-contato{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secao-contato-conosco{
    border-bottom: 2px solid rgb(63, 117, 97);
    padding-bottom: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer-1{
    font-size: 24px;
    font-weight: 600;
    color:white;
}

.secao-contato-conosco-item{
    width: calc(100%/4);
    padding: 5px 0px;   

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

.secao-contato-copy{
    margin-top: 15px;
    padding: 1px 0;
}

.secao-contato-copy p {
    color:white;
}

.secao-contato-conosco-item-img{
    margin-right: 5px;
}

.secao-contato-conosco-item-texto{ 
    display: flex;
    flex-flow: row wrap;
}

.secao-contato-conosco-item-texto p{
    font-size: 16px;
    color:white;
}

/******PÁGINA QUARTOS*****/

.secao-fundo{
    background-image: url(assets/img-fundo.jpg);
    width: 100%;
    height: 130px;

    background-position-y: 9%;

}

/*******SECAO QUARTOS**************/

.secao-quartos{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.secao-quartos-item{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;   
}

.secao-quartos-img{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
}

.secao-quartos-img-item{
    width: calc((100%/3) - 10px);
    margin: 48px 5px 10px 5px;

    display: flex;
    flex-direction: row;

}

.secao-quartos-img-item img{
    width: 100%;
}

.secao-quartos-info{
    text-align: center;

    margin-top: 90px;
    margin-bottom: 32px;
}

.secao-quartos-info-desc{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}

.cao-quartos-info-des-2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;

}

/***************/